body,html{
    /* display: grid;
    place-items: center; */
    height: 100vh;
    width: 100vw;
    top: 0px;
    left: 0px;
    margin: 0px;
    background-color:black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.menu-name{

font-size: 50px;

}
.btns-menu{

    display: flex;  
    justify-content: center;
    margin-bottom: 50px;
    
}

button:hover{
border: solid 2px green;
background-color: transparent;
color: green;

}
.title{
    text-align: center;
    padding: 0;
    margin-top: 0%;
    margin-bottom: 40px;
    display: grid;
    justify-items: center;
   
}
.underline{

    width:5rem ;
    height: 0.25rem;
    background-color: green;

}
h1,h2,h3,h4,h5,h6{
    
    padding: 0;
    margin: 0%;
}
.content{
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns:  1fr 1fr;
    gap: 3rem 2rem;
    flex-wrap: wrap;
    padding-bottom: 80px;

}

.menu-itens{
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
}

.filter-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: transparent;
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 0.375rem 0.75rem;
    color: gold;
    border-color: gold;
    cursor: pointer;
    transition: 0.3s;
  }


  .menu-item {
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
    justify-items: center;
  }
  .photo {
    object-fit: cover;
    height: 200px;
    border: 0.25rem solid green;
    border-radius: 5px;
  }
  .item-info header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted purple;
  }
  .item-info h4 {
    margin-bottom: 0.5rem;
  }
  .price {
    color: gold;
  }
  .item-text {
    margin-bottom: 0;
    padding-top: 1rem;
  
  }

  .buy-btn{
    background-color: transparent;
    border: gold solid 2px ;
    text-transform: capitalize;
    color: gold;
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
    border-radius: 4px;
  }
  .title{

    text-transform: capitalize;

  }
